

$icon-font-path: "../fonts/";

$BS_COLOR: #337AB7;   /* Color Bootstrap uses for 'primary' buttons */
$LIGHT_GREY: #F5F5F5;
$LIGHT_GREY_HOVER: #E8E8E8;
$HIGHLIGHT: #D9EDF7;

$LINE_HEIGHT: 50px;   /* Standard 'one-line' content (e.g. header, footer, etc.) */
$STANDARD_MARGIN: 15px;


$color_sample_group_not_affected: #337AB6;
$color_border_sample_group_not_affected: #2e6da4;
$color_active_sample_group_not_affected: #286090;
$color_border_active_sample_group_not_affected: #204d74;

$color_sample_group_affected: #d9534f;
$color_border_sample_group_affected: #d43f3a;
$color_active_sample_group_affected: #c9302c;
$color_border_active_sample_group_affected: #ac2925;

$color_inactive_sample_group: #F5F5F5;
$color_active_sample_group_unknown: #C5C5C5;

