
@import "constants.scss";


/****************************************************************************
 ****************************       FILTERS      ****************************
 ****************************************************************************/

/* Style everything inside the variant filters panel */


div.one-filter {
    width: 100%;
    padding-top: 0.5em;
    clear: both;

    div.filter-name {
        width: 35%;
        float: left;
        font-weight: bold;
        padding-right: 5px;

        .glyphicon {
            display: inline-block;
        }
    }
    div.filter-input {
        width: 65%;
        float: left;

        span.count {
            font-size: 75%;
            padding-left: 1em;
        }

        div.continuous-input {
            width: 86%;
        }
    }
}

div.continuous-value-filter {
    div.filter-input {
        span.op-sign {
            padding-right: 0.5em;
        }
    }
}

div.enum-filter {
    div.enum-filter-name {
        margin-top: 4px;
    }
    div.enum-filter-input {
        width: 100%;
        padding-left: 10px;
        float: left;
    }
    div.enum-filter-name {
        width: 100%;
    }
    .help-tooltip {
        padding-left: 5px;
    }
}

div.genotypes-filter {
    padding-top: 0px;
    div.genotypes-filter-name {
        width: 100%;
    }
    div.genotypes-filter-input {
        width: 100%;
        padding-left: 10px;
        float: left;
    }
    .help-tooltip {
        padding-left: 5px;
    }
}

div.truefalseany-filter {
    div.filter-input {
        div.one-choice {
            float: left;
        }
        div.one-choice-true-false {
            width: 36%;
        }
        div.one-choice-any {
            width: 19%;
        }
        div.option-name {
            display: inline-block;
            white-space: nowrap;
        }
        small {
            display: inline-block;
            margin-left: 0.6em;
        }
        small.true {
            width: 2.8em;
        }
        small.false {
            width: 3.28em;
        }
    }
}

/* The cross to remove a filter from the summary */
.remove-filter {
    cursor: pointer;
}

div.frequency-slider-ticks {
    height:22px;
    div.tick {
        font-size:80%;
    }
}

div.panel.filter-group, div.panel.samples-panel {
    .panel-heading {
        padding: 0;
        a {
            display: block;
            width: 100%;
            height: 100%;
            padding: 10px 15px;
        }
        a:hover {
            background: $LIGHT_GREY_HOVER;
        }
    }
    .panel-footer {
        padding: 0;
    }
    a[aria-expanded='false'] {
        text-decoration: none;
        .panel-toggle-prefix:before {
            content: "+ ";
            color: blue;
        }
    }
    a[aria-expanded='true'] {
        text-decoration: none;
        .panel-toggle-prefix:before {
            content: "- ";
            color: blue;
        }

    }
}

ul.filter-group-summary {
    padding: 8px 8px 8px 40px;
    margin-bottom: 0px;
    li {
        list-style-type: circle;
    }
}

#filter-toolbar {
    overflow: hidden;
    padding-bottom: 1px;
    width: 100%;
}

#n-variants {
    .panel-body {
        padding: 5px 12px 7px 12px;
        margin: 0;
    }
    font-weight: bold;
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-right: 5px;
    border: 1px solid $BS_COLOR;
}

#reset {
    float: right;
    min-width: 50px;
}

#location-search {
    .btn-default {
        border-left: none;
        background-color: $LIGHT_GREY;
    }
    .btn-default:hover {
        background-color: $LIGHT_GREY_HOVER;
    }
    .toggle-vertical-button, .toggle-horizontal-button {
        border: none;
    }
    .location-search-button {
        border: none;
        border-right: 1px solid #ccc;
        margin-right: 1px;
    }
    .btn-group-positioner {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 99;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    .location-search-area {
        border-top-right-radius: 4px;
    }

}


