

/****************************************************************************
 ***************************       LOG PANEL      ***************************
 ****************************************************************************/


#log-panel {
    .panel {
        max-height: 180px;
        overflow-y: auto;
    }

    ul {
        list-style-type: none;
        padding: 0px;
        margin: 0px;
        li {
            margin: 4px;
        }
    }

    .error {
        /*font-weight: bold;*/
        color: red;
    }
}


