

/****************************************************************************
 ***************************       LOG PANEL      ***************************
 ****************************************************************************/


#log-panel {
    .panel {
        max-height: 180px;
        overflow-y: auto;
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        li {
            margin: 4px;
        }
        li.error {
            /*font-weight: bold;*/
            color: red;
        }
        li.success {
            color: green;
        }
        li.warning {
            color: orange;
        }
    }

}


